:root {
    --color-primary: #ffffff;
    --color-secondary: #ff0000;
    --color-thirdiary: #0a0888;
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

    body {
        font-family: poppins, sans-serif;
        
        .home {/*section*/
            background-size: cover;
            background-image: url(../images/Vitrine.jpg);
            height: 100vh; /*viewport height; 100% da área do navegador */
        
            header {
                background-color: rgba(165, 42, 42, 0.879);
                color: rgb(17, 0, 255);
                padding: 30px 0;
                //height: 400px;
                
                .nav {
                    margin: 10px 0;   
                    display: flex;
                    justify-content: center;

                    ul {
                        display: flex;
                        list-style: none;
                        
                            .logo {
                            margin: 0 30px;
                        
                        }

                        li {
                            display: flex;
                            align-items: center;
                            margin: 0 10px;
                            height: 50px;

                            .k {
                                font-size: 120px;
                                font-weight: bold;
                                color: rgb(9, 9, 111);
                                text-shadow: 2px 2px 3px white;
                                font-family: Verdana, Geneva, Tahoma, sans-serif;
                                margin-right: 0;
                            }
                            .r {
                                font-size: 120px;
                                font-weight: bold;
                                color: rgba(187, 4, 4, 0.933);
                                text-shadow: 2px 2px 3px white;
                                font-family: Verdana, Geneva, Tahoma, sans-serif;
                                margin-left: 0;
                            }

                            a {
                                color: rgb(221, 229, 230);
                                text-transform: uppercase;
                                text-decoration: none;
                                padding: 20px;

                                &:hover {
                                    border-bottom: 1px solid var(--color-secondary);
                                    border-top: 1px solid var(--color-thirdiary)

                                }
                            }

                    
                            
                        }
                    }
                }
                .banner {
                    text-align: center;
                    ul {
                        li {
                            display: flex;
                            justify-content: center;
                            .k {
                                font-size: 120px;
                                font-weight: bold;
                                color: rgb(9, 9, 111);
                                text-shadow: 2px 2px 3px white;
                                font-family: Verdana, Geneva, Tahoma, sans-serif;
                                margin-right: 0;
                            }
                            .r {
                                font-size: 120px;
                                font-weight: bold;
                                color: rgba(187, 4, 4, 0.933);
                                text-shadow: 2px 2px 3px white;
                                font-family: Verdana, Geneva, Tahoma, sans-serif;
                                margin-left: 0;
                            }
                        }
                    }
                    .slogan {
                       color: white;
                       font-size: 23px;
                       font-style: italic;
                       font-weight: 700;
                      
                    }
                }
                
            }
        }
    }
}
